<div class="loginDiv">
<form method="POST" action="/CreateAlbum" >
	<h3>Name:</h3>
	<input class="smallInput" type="text" name="name" placeholder="Album Name"><br>
	<h3>Descriptions:</h3>
	<input class="smallInput" type="text" name="AlbumnDescription" placeholder="Album Description"><br>
	<input class="smallInput" type="text" name="ogDescription" placeholder="OG Description"><br>
	<input class="smallInput" type="text" name="Description" placeholder="Description"><br>
	<h3>Titles:</h3>
	<input class="smallInput" type="text" name="ogTitle" placeholder="OG Title"><br>
	<input class="smallInput" type="text" name="Title" placeholder="Title"><br>
	<h3>Link:</h3>
	<input class="smallInput" type="text" name="Link" placeholder="Http://www.example.com/"><br><br>
	<input type="submit" value="Create Album" style="font-size: 16px;">

</form>
	<div>
		{{{Albums}}}
    </div>
</div>